In [1]:
import sys
sys.path.append("..")

import pandas as pd
from reader import generic_reader

In [2]:
df_movies = generic_reader.read_csv_file_to_data_frame("../movie_data/movies.csv")
df_movies.info()
df_movies.sort_values(by="budget", ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2801 entries, 0 to 2800
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adult                   2801 non-null   bool
 1   backdrop_path           2800 non-null   object
 2   budget                  2801 non-null   int64
 3   homepage                1902 non-null   object
 4   movie_id                2801 non-null   int64
 5   imdb_id                 2800 non-null   object
 6   origin_country          2801 non-null   object
 7   original_language       2801 non-null   object
 8   original_title          2801 non-null   object
 9   overview                2801 non-null   object
 10  popularity              2801 non-null   float64
 11  poster_path             2800 non-null   object
 12  production_countries    2801 non-null   object
 13  release_date            2801 non-null   object
 14  revenue                 2801 non-null   int64
 15  runtime                 2801 non-null   int64
 16  spoken_languages        2801 non-null   object
 17  status                  2801 non-null   object
 18  tagline                 2684 non-null   object
 19  title                   2801 non-null   object
 20  video                   2801 non-null   bool
 21  vote_average            2801 non-null   float64
 22  vote_count              2801 non-null   int64
 23  director_person_ids     2801 non-null   object
 24  genre_ids               2801 non-null   object
 25  production_company_ids  2801 non-null   object
 26  collection_id           894 non-null    float64
 27  cast_person_ids         2801 non-null   object
 28  cast_credit_ids         2801 non-null   object
 29  crew_person_ids         2801 non-null   object
 30  crew_credit_ids         2801 non-null   object
dtypes: bool(2), float64(3), int64(5), object(21)
memory usage: 640.2+ KB

,adult,backdrop_path,budget,homepage,movie_id,imdb_id,origin_country,original_language,original_title,overview,...,vote_average,vote_count,director_person_ids,genre_ids,production_company_ids,collection_id,cast_person_ids,cast_credit_ids,crew_person_ids,crew_credit_ids
2646,False,/698FjyzLdpgXmUSr63LaRwblTmx.jpg,583900000,https://www.jurassicworld.com,507086,tt8041270,['US'],en,Jurassic World Dominion,"Four years after Isla Nublar was destroyed, di...",...,6.634,6669,[930707],"[12, 28, 878]","[56, 33]",328.0,"[73457, 18997, 4784, 4783, 4785, 206425, 16398...","['5b30ddfbc3a36853140012e7', '5b30de25c3a36853...","[1546026, 1084741, 3169987, 2825529, 491, 9307...","['607745d9fbe36f0042882c44', '607745c318864b00..."
2392,False,/SPkEiZGxq5aHWQ2Zw7AITwSEo2.jpg,416000000,https://www.starwars.com/films/star-wars-episo...,181812,tt2527338,['US'],en,Star Wars: The Rise of Skywalker,The surviving Resistance faces the First Order...,...,6.283,10364,[15344],"[12, 28, 878]","[1, 11461]",10.0,"[4, 2, 1315036, 1023139, 236695, 25072, 6, 153...","['5e867292e375c000143de939', '5e8671e404b59600...","[3084035, 3508489, 3555057, 2825529, 1110521, ...","['60997cee87e63e003b6b9811', '628726963d745400..."
1132,False,/uzIGtyS6bbnJzGsPL93WCF1FWm8.jpg,379000000,https://movies.disney.com/pirates-of-the-carib...,1865,tt1298650,"['US', 'GB']",en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,...,6.561,14499,[17633],"[12, 28, 14]","[2, 130, 20478]",295.0,"[85, 955, 118, 6972, 2449, 237455, 469759, 111...","['52fe431cc3a36847f803af13', '52fe431cc3a36847...","[770, 17633, 947, 1705, 1706, 406204, 1526463,...","['52fe431cc3a36847f803aedf', '52fe431cc3a36847..."
1663,False,/kIBK5SKwgqIIuRKhhWrJn3XkbPq.jpg,365000000,https://www.marvel.com/movies/avengers-age-of-...,99861,tt2395427,['US'],en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,...,7.300,23738,[12891],"[28, 12, 878]",[420],86311.0,"[3223, 74568, 103, 16828, 1245, 17604, 13548, ...","['55e256d292514162cd000e40', '52fe4a449251416c...","[608, 12891, 12891, 10850, 113675, 7624, 30306...","['60b188428ee49c006dc57b28', '52fe4a449251416c..."
2286,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,356000000,https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,['US'],en,Avengers: Endgame,After the devastating events of Avengers: Infi...,...,8.238,26765,"[19272, 19271]","[12, 878, 28]",[420],86311.0,"[3223, 16828, 103, 74568, 1245, 17604, 16851, ...","['5e85cd735294e700134abf26', '5e85cd84691cd500...","[3019687, 57027, 3064294, 3062791, 4230717, 27...","['6057fbdf8c44b90054683688', '606f5c67dff66e00..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,False,/AwB7HGeDTrBGkP2WEnNwg8Wa0E4.jpg,0,https://www.netflix.com/title/81212842,638974,tt15255288,['US'],en,Murder Mystery 2,"After starting their own detective agency, Nic...",...,6.402,1836,[59027],"[9648, 35, 80]","[878, 7382, 19367, 1205, 3574]",929336.0,"[19292, 4491, 2983, 19119, 1695989, 51878, 184...","['614fefb71c635b002a0d54ff', '614fefbfa5d84900...","[11699, 24529, 59027, 2161377, 162577, 102595,...","['6293f5f5fd630000663d1ea6', '650d09042c6b7b00..."
2730,False,/T5xXoFqyc9jNXZIbH4Sw0jwWjw.jpg,0,NaN,605886,tt10275534,['US'],en,To Catch a Killer,Baltimore. New Year's Eve. A talented but trou...,...,6.880,1189,[591600],"[53, 80, 18]","[7493, 106786]",NaN,"[94185, 77335, 1607522, 202032, 129419, 84832,...","['5cf066df92514169fdba1b82', '5fda1e35a3770a00...","[1020046, 2226015, 1486817, 1646476, 34338, 20...","['604e392fed96bc0029479ad7', '63f60de07dfda600..."
1712,False,/mLg1I7Nn47CYOdG1tOXegOhcayQ.jpg,0,NaN,339527,tt1291570,['US'],en,Solace,"A psychic doctor, John Clancy, works with an F...",...,6.421,2294,[1032011],"[53, 80, 9648]","[20313, 3604, 85885, 2273, 7493, 34081, 12075,...",NaN,"[4173, 47296, 37260, 72466, 98215, 20191, 6407...","['554e67fcc3a3681870002645', '55763788c3a36824...","[1407724, 1748851, 6898, 1399877, 2091399, 193...","['62bebc2822e4800495deb18c', '62bebcac28723c00..."
1717,False,/iXRxlRsBr0mGr9Wx3OPbVdbUJzl.jpg,0,NaN,360784,tt2131532,['US'],en,Hidden,A family takes refuge in a fallout shelter to ...,...,6.902,1087,"[1179422, 1179419]","[53, 27]","[3911, 174, 829]",NaN,"[28846, 127558, 112742, 83423, 1512709, 4095]","['55ffcc11c3a3681334005552', '55ffcc2092514104...","[2091589, 2216732, 8275, 3600077, 3600075, 360...","['62b5532b1b722c00941a86db', '62b5545467e0f700..."
2688,False,/tSxbUnrnWlR5dQvUgqMI7sACmFD.jpg,0,https://www.netflix.com/title/80218885,779782,tt2935622,['US'],en,The School for Good and Evil,Best friends Sophie and Agatha navigate an enc...,...,7.100,1315,[116805],"[14, 35, 12, 18]","[61791, 50072, 16314]",NaN,"[1768965, 1494194, 11703, 6885, 2975, 1729393,...","['5fe72a59e74146003d36a711', '5fe72a6566565a00...","[116805, 1321750, 2077296, 5332, 1663592, 9820...","['629e742b8ec4ab0633e3006b', '65810e25d5191f09..."

In [3]:
columns_to_keep = ['movie_id', 'original_title', 'release_date', 'runtime', 'vote_average', 'vote_count', 'genre_ids', 'cast_person_ids']
df_movies = df_movies[columns_to_keep].copy()
df_movies

,movie_id,original_title,release_date,runtime,vote_average,vote_count,genre_ids,cast_person_ids
0,49948,Fantasia 2000,2000-01-01,74,7.000,1324,"[16, 10751, 10402]","[67773, 166002, 13301, 73931, 15152, 37221, 74..."
1,10898,The Little Mermaid II: Return to the Sea,2000-01-23,75,6.397,1747,"[16, 12, 10751, 35]","[63978, 67392, 15762, 35232, 67393, 9601, 7133..."
2,4234,Scream 3,2000-02-04,116,5.995,3807,"[27, 9648]","[15234, 9206, 14405, 18352, 35595, 2714, 35598..."
3,2787,Pitch Black,2000-02-18,108,6.851,4599,"[53, 878, 28]","[12835, 8329, 6614, 28099, 26054, 65827, 28098..."
4,2069,The Whole Nine Yards,2000-02-18,98,6.465,1970,"[35, 80]","[14408, 62, 57395, 2956, 61981, 2165, 7166, 16..."
...,...,...,...,...,...,...,...,...
2796,848326,Rebel Moon - Part One: A Child of Fire,2023-12-15,134,6.242,2385,"[878, 28, 12]","[568657, 91520, 1047649, 938, 21688, 1564557, ..."
2797,467244,The Zone of Interest,2023-12-15,105,7.005,2304,"[18, 36, 10752]","[71374, 7152, 4072267, 4452138, 4072269, 40722..."
2798,572802,Aquaman and the Lost Kingdom,2023-12-20,124,6.600,3223,"[28, 12, 14]","[117642, 17178, 1639847, 79082, 55085, 2227, 1..."
2799,1072790,Anyone But You,2023-12-21,103,6.837,2735,"[10749, 35]","[115440, 83271, 3085680, 2728596, 2495673, 125..."
2800,850165,The Iron Claw,2023-12-21,132,7.543,1084,"[36, 18]","[29222, 206905, 1716493, 2394927, 7497, 16307,..."