Get movie_ids for all movies with original_language = danish

In [1]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
from time import sleep

load_dotenv()
tmdb_api_token = os.getenv("TMDB_API_TOKEN")

base_url = (
    "https://api.themoviedb.org/3/discover/movie"
    "?include_adult=false"
    "&include_video=false"
    "&language=en-US"
    "&sort_by=primary_release_date.asc"
    "&with_original_language=da"
    "&primary_release_date.gte=2020-01-01"
    "&primary_release_date.lte=2024-12-31"
)

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {tmdb_api_token}"
}

movie_ids = []

# Loop through all pages (adjust max page if needed)
for page in range(1, 501):
    url = f"{base_url}&page={page}"
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        raise Exception(f"Status code: {response.status_code} Text: {response.text}")
    
    # Extract movie_results from the response
    movie_results = response.json().get("results") 
    
    # Stop if we have reached the last page
    if not movie_results:
        break

    # Extract movie_ids from the movie_results
    movie_ids.extend([movie["id"] for movie in movie_results])
    
    sleep(0.02)  # Just to be sure we don't request too many requests

print(f"Number of movie ids found: {len(movie_ids)}")

Number of movie ids found: 931

Get movie data for all these movie_ids and store in dataframe and CSV file

In [2]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
from time import sleep

load_dotenv()
tmdb_api_token = os.getenv("TMDB_API_TOKEN")

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {tmdb_api_token}"
}

all_movies = []

# Loop through all movie_ids and request movie data
for movie_id in movie_ids:
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?language=en-US&append_to_response=credits"
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        raise Exception(f"Status code: {response.status_code} Text: {response.text}")
    
    # Extract the movie data from the response
    movie = response.json()

    # Simplify dictionaries to list of ids
    movie["genre_ids"] = [genre["id"] for genre in movie["genres"]]
    movie["spoken_languages"] = [language["iso_639_1"] for language in movie["spoken_languages"]]
    movie["production_company_ids"] = [company["id"] for company in movie["production_companies"]]
    movie["production_countries"] = [country["iso_3166_1"] for country in movie["production_countries"]]
    movie["collection_id"] = movie.get("belongs_to_collection").get("id") if movie["belongs_to_collection"] else None
    movie["cast_person_ids"] = [cast_member["id"] for cast_member in movie["credits"]["cast"]]
    movie["cast_credit_ids"] = [cast_member["credit_id"] for cast_member in movie["credits"]["cast"]]
    movie["crew_person_ids"] = [crew_member["id"] for crew_member in movie["credits"]["crew"]]
    movie["crew_credit_ids"] = [crew_member["credit_id"] for crew_member in movie["credits"]["crew"]]
    del movie['genres']
    del movie['production_companies']
    del movie["belongs_to_collection"]   
    del movie["credits"]
    
    all_movies.append(movie)
    sleep(0.02)  # Just to be sure we don't request too many requests

df_movies = pd.DataFrame(all_movies)
print(f"Total movies collected: {len(df_movies)}")

output_folder = os.path.join(os.getcwd(), "movie_data")
output_path = os.path.join(output_folder, "alt.csv")
df_movies.to_csv(output_path, index=False)

Total movies collected: 931

In [3]:
df_movies

,adult,backdrop_path,budget,homepage,id,imdb_id,origin_country,original_language,original_title,overview,...,video,vote_average,vote_count,genre_ids,production_company_ids,collection_id,cast_person_ids,cast_credit_ids,crew_person_ids,crew_credit_ids
0,False,None,0,,1389683,None,[DK],da,Den gamle mand og skoven,,...,False,0.0,0,"[99, 10770]",[119],NaN,[],[],"[1114991, 1114991, 1114991, 5066576, 5066578]","[673b21f4f741eb0428b62a1e, 673b2207f741eb0428b..."
1,False,None,0,,1275299,None,[DK],da,"Badabing og Bang - Hurra, Ã¥rtiet er slut!",,...,False,0.0,0,[99],[119],NaN,[91568],[661ea6efd18fb90131c9c55c],[],[]
2,False,None,0,,1176704,tt26752729,[DK],da,Stime,"During the summer, the relationship between tw...",...,False,0.0,0,[18],[166089],NaN,"[3018873, 2120409, 2974764, 4265498, 4265499, ...","[64ff095fffc9de0eded38e34, 64ff096cffc9de0edf6...","[2653084, 2653084, 2653084, 208175, 135949]","[64ff09aaffc9de0ee3c53cfc, 64ff09b02dffd800e3d..."
3,False,/3tdNtSbcMliHlWnxt5fVuiL6QmO.jpg,0,,660040,None,[DK],da,Grin til gavn 2019,"In keeping with tradition, the popular comedy ...",...,False,6.0,1,[35],[20632],NaN,"[88359, 88355, 1949847, 2040551, 2208065, 1556...","[5e16d23e11386c0015c92dd1, 5e16d2470cb33500170...",[],[]
4,False,/w2T6QLixu8X6C5FlfpKDglIFcJ4.jpg,0,,661167,None,[DK],da,Et langsomt mord,,...,False,0.0,0,[99],[639],NaN,[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
926,False,/MSP35R6y0ypmf3zU1kyUw1P4It.jpg,0,,1407803,None,[DK],da,VerdensmÃ¦nd - Bobos surprise,,...,False,10.0,1,[35],[758],NaN,"[1828049, 234058, 1355004, 88356, 2208065]","[676d44614ca2fbbfca614283, 676d44784ca2fbbfca6...",[],[]
927,False,/2iVVzCEnX4QMEeyd3e52juYcsH8.jpg,0,,1410638,None,[DK],da,Gud bevare Danmark,,...,False,0.0,0,[],[],NaN,[],[],[],[]
928,False,/ej5uQVMJTzq8nZBCbf6pUMNF6jl.jpg,0,,1409581,None,[DK],da,Frank Hvam - Nobody,Frank Hvam has lived in New Zealand with his f...,...,False,6.0,1,[35],[758],NaN,[89973],[67724668d8dc22e6c6927586],"[89973, 5520795, 563909, 5227452, 4263643, 516...","[68650819af3c4b2566414b34, 686508769febd451ea8..."
929,False,None,0,,1412034,None,[DK],da,"Dan Andersen - Nedsat HÃ¸relse, Nedsat SÃ¦dkvali...",,...,False,0.0,0,[35],[],NaN,[149860],[677903662b097b15a274ab1e],[],[]
930,False,/dnUO6DSBtGnez743z0dwJ0kRM0o.jpg,0,,1410006,None,[DK],da,Jan HellesÃ¸e - Forudsigelser,,...,False,0.0,0,[],[],NaN,[2703160],[67737dfe43a21982da12ce11],[],[]

Run through the movie dataframe and create list of unique actor_ids

In [4]:
actor_ids = df_movies["cast_person_ids"].explode().dropna().unique().tolist()

In [5]:
actor_ids

[91568,
 3018873,
 2120409,
 2974764,
 4265498,
 4265499,
 4265500,
 88359,
 88355,
 1949847,
 2040551,
 2208065,
 1556815,
 2504733,
 1421812,
 1949848,
 2406545,
 1355004,
 1883181,
 1079967,
 2110194,
 83257,
 234058,
 2328186,
 1682477,
 2712971,
 2190163,
 2712972,
 2244,
 6120,
 1167832,
 1149906,
 1518800,
 2647874,
 1180028,
 1150549,
 19357,
 2036660,
 112733,
 225512,
 1815522,
 1259903,
 1016025,
 79260,
 231318,
 1268611,
 1444673,
 137444,
 1030328,
 1430283,
 1443045,
 4459,
 88145,
 88544,
 1445003,
 1944591,
 1111176,
 115214,
 297106,
 2642049,
 2647879,
 1074440,
 2065828,
 1025545,
 565155,
 1954416,
 1139985,
 1424989,
 2647881,
 1691420,
 2647882,
 2302835,
 1435848,
 2647883,
 2647884,
 582347,
 1122833,
 2647885,
 1232923,
 2647886,
 2647888,
 2507250,
 226190,
 1733092,
 2190857,
 2647889,
 2647890,
 2647892,
 93108,
 1034328,
 1123821,
 1150553,
 6122,
 2713066,
 2639347,
 2713067,
 2713068,
 2713069,
 2713070,
 2713071,
 42095,
 89973,
 42094,
 1444987,
 2595146,
 1069591,
 2595147,
 121521,
 1215845,
 1167845,
 1158298,
 1702930,
 2595148,
 1069590,
 1069593,
 2595149,
 1150872,
 2152426,
 2297394,
 1443535,
 2595150,
 2595151,
 1441059,
 2595152,
 2243584,
 2595153,
 1297437,
 2595154,
 1993907,
 585182,
 572299,
 2325823,
 2595156,
 1013125,
 1264848,
 2595157,
 2595158,
 2595159,
 2595160,
 1439253,
 2595161,
 2595162,
 2595163,
 2595164,
 2595166,
 2667254,
 558129,
 199725,
 2781095,
 2584574,
 2449146,
 112735,
 88543,
 107559,
 1119438,
 2189731,
 1024879,
 2449145,
 2719045,
 2719053,
 4410340,
 1013156,
 2204700,
 2204701,
 85906,
 1923199,
 128859,
 121518,
 1353300,
 41907,
 1505684,
 2622104,
 1885472,
 2622105,
 2040126,
 2622107,
 2622108,
 2622109,
 2622110,
 2622111,
 2622112,
 2622113,
 2622114,
 2622115,
 2622116,
 2138496,
 2622117,
 1388458,
 3003968,
 1445040,
 4016187,
 4487263,
 4016184,
 5520850,
 3533413,
 5520855,
 5520870,
 3740235,
 2134898,
 66843,
 1388456,
 76555,
 3397,
 15086,
 1388457,
 121618,
 76548,
 82537,
 55887,
 1388463,
 1566,
 1950905,
 1291204,
 1255681,
 2263088,
 117955,
 1806542,
 1444696,
 90663,
 1182,
 1783172,
 2304657,
 1714735,
 2304659,
 1297392,
 1239931,
 1436661,
 1840654,
 2304660,
 1903698,
 449644,
 2304661,
 137332,
 1505339,
 1759587,
 1397252,
 1803074,
 49114,
 2304664,
 2279650,
 1307988,
 2656685,
 91748,
 72343,
 2803274,
 1447650,
 1632953,
 2094504,
 2473533,
 2473534,
 5318907,
 12795,
 4467,
 2480998,
 2480997,
 1017,
 2595279,
 548365,
 1208770,
 2595280,
 1518801,
 41906,
 1437421,
 1443305,
 2595281,
 1433679,
 2595282,
 2595283,
 2595284,
 2595285,
 2383416,
 1244882,
 1178394,
 2595286,
 1824059,
 544021,
 2546055,
 1998275,
 2595287,
 1460362,
 2595289,
 2595290,
 564599,
 2140569,
 1209327,
 2595291,
 1824356,
 162422,
 2595293,
 2595292,
 2595294,
 167441,
 1703663,
 2205575,
 1282432,
 1968819,
 1494872,
 2481000,
 2480996,
 2480999,
 1914557,
 1184201,
 2312749,
 2654624,
 2654625,
 2654626,
 1350478,
 1949745,
 2189732,
 3304011,
 3304012,
 3304014,
 2656262,
 2660596,
 1174781,
 4891974,
 2351320,
 2951183,
 2951185,
 1045285,
 2644701,
 5357119,
 2382581,
 5357123,
 5357126,
 5357128,
 5357132,
 3060345,
 2687476,
 2687477,
 2687478,
 2671980,
 2687480,
 2687481,
 3833264,
 2682270,
 2682271,
 2682272,
 2682273,
 2682274,
 3684197,
 2688727,
 2688729,
 2688730,
 2688732,
 2688733,
 2688734,
 33190,
 933385,
 935,
 1940530,
 4353102,
 4353104,
 1564,
 4353105,
 4353106,
 1755252,
 4353107,
 2271807,
 69230,
 4353110,
 2648660,
 4353111,
 4353112,
 4353118,
 1115548,
 4353120,
 4353121,
 3007613,
 4353124,
 2355099,
 1443740,
 2680073,
 2680072,
 2680074,
 2680075,
 2680076,
 2680077,
 2655516,
 2655518,
 2655520,
 2655521,
 2655522,
 2655524,
 2655525,
 1898924,
 2655528,
 2655530,
 2655532,
 2655533,
 2655534,
 2655536,
 2655538,
 4929019,
 2688693,
 2258336,
 2675155,
 2688694,
 2688695,
 2688696,
 2688698,
 2688699,
 2688700,
 2688701,
 2688702,
 2688703,
 2688704,
 2638818,
 2506184,
 2038232,
 32683,
 1444187,
 1357455,
 1458362,
 2038233,
 2038235,
 141879,
 1434359,
 2038497,
 2038498,
 2243578,
 2809445,
 112734,
 4181481,
 2366462,
 4071956,
 4181487,
 2654696,
 137443,
 3256367,
 206469,
 1444996,
 2664334,
 145865,
 3256372,
 3256373,
 1783848,
 234971,
 2296791,
 1119434,
 1985491,
 2104054,
 4711375,
 1445004,
 4691142,
 2839461,
 40426,
 1078979,
 1602451,
 82352,
 143391,
 1366062,
 1290402,
 1297500,
 2130931,
 66027,
 2027779,
 1011088,
 2135911,
 584815,
 1819825,
 1259906,
 2135912,
 2135913,
 1232920,
 2135914,
 2135915,
 1476844,
 2135933,
 2135917,
 1482914,
 2135932,
 2135934,
 1364310,
 1560171,
 2846604,
 2846605,
 110604,
 2895181,
 4362179,
 2532345,
 1177642,
 2148999,
 2688044,
 2532340,
 2821752,
 2463295,
 2716847,
 3096002,
 1310711,
 489961,
 7827,
 71514,
 1976067,
 123962,
 1447616,
 1963525,
 1682207,
 544860,
 1703571,
 1921850,
 4455,
 1182597,
 47733,
 39659,
 7030,
 1388460,
 56366,
 1181403,
 1672928,
 3407,
 133031,
 1606121,
 1388462,
 6140,
 33305,
 2892341,
 1365662,
 2892343,
 146123,
 2892344,
 1711703,
 2423316,
 1476902,
 2180302,
 2892346,
 1494062,
 74620,
 2754074,
 2196604,
 2754076,
 2754077,
 1949803,
 2754078,
 202568,
 1443107,
 1429865,
 2754079,
 1327538,
 2754080,
 1697314,
 2671170,
 2754082,
 2754075,
 2712998,
 1313416,
 1308283,
 3314579,
 2640124,
 3314581,
 2771345,
 1443458,
 2771347,
 2771348,
 1045282,
 2771350,
 2141475,
 1994008,
 2361845,
 1335546,
 2771334,
 2771335,
 2771337,
 2771338,
 234909,
 1141084,
 2771324,
 1140262,
 2771325,
 2771326,
 2713055,
 2663636,
 1986450,
 2771315,
 2771316,
 1949434,
 2771307,
 1032398,
 1179122,
 1586219,
 82106,
 227125,
 1731807,
 1916144,
 2795021,
 2777880,
 2777881,
 2777882,
 2777883,
 2777884,
 2777885,
 2777886,
 2669756,
 2777873,
 1362064,
 3712542,
 3712544,
 558080,
 3712548,
 1885470,
 3712549,
 3712551,
 3712552,
 3712553,
 3666502,
 3666504,
 3666506,
 3666507,
 1983570,
 3666509,
 3666510,
 3666511,
 3666513,
 3666514,
 3666516,
 3666517,
 3666518,
 3666519,
 3666521,
 3666522,
 3666524,
 3666526,
 3666527,
 3666529,
 3666530,
 3666534,
 3666536,
 1019,
 4457,
 1438708,
 588175,
 97032,
 136774,
 47156,
 2711879,
 2895164,
 1552847,
 1358363,
 2896836,
 2896839,
 2896840,
 1591029,
 2896844,
 2896848,
 2896850,
 2896851,
 559144,
 135757,
 2675924,
 1441887,
 1560174,
 1435987,
 1439681,
 2896855,
 2896856,
 2896858,
 2896859,
 2896860,
 1441485,
 1032397,
 4999928,
 2211836,
 2211838,
 3185532,
 2211837,
 3185538,
 2645185,
 3256464,
 3256466,
 3256467,
 3256468,
 2950020,
 2950028,
 2950029,
 2950030,
 1460363,
 2950033,
 2950035,
 3891,
 1824041,
 1824042,
 2813744,
 221191,
 2099617,
 1441071,
 1949760,
 2927139,
 1441049,
 2974031,
 3322327,
 4755077,
 5524203,
 1433475,
 2661747,
 2661749,
 2661751,
 141234,
 2998421,
 2661746,
 1476834,
 141875,
 1443046,
 2204706,
 2582061,
 2014378,
 2661754,
 1505679,
 2093497,
 2998425,
 2998426,
 2998427,
 1442314,
 2998429,
 85010,
 2998431,
 2998433,
 2024348,
 2998435,
 2998436,
 2383414,
 2383412,
 2998440,
 1167755,
 2998442,
 2998443,
 1856084,
 3640999,
 2013450,
 3641006,
 3641008,
 1012,
 3641009,
 3641010,
 3641011,
 3641015,
 42,
 4453,
 1558,
 4458,
 4460,
 1562,
 1184,
 1176,
 1335599,
 1178,
 71155,
 4463,
 1559,
 1011,
 1174,
 56195,
 65879,
 2813985,
 1183,
 6124,
 1400327,
 1443396,
 3172903,
 40300,
 1613616,
 3641056,
 3641057,
 1585100,
 89677,
 3641060,
 89676,
 55143,
 11572,
 1616206,
 2518126,
 1616239,
 1899167,
 1460359,
 2826923,
 2826925,
 1676769,
 234976,
 1919009,
 1476944,
 2638819,
 1616237,
 1413693,
 102893,
 1445063,
 3319126,
 3319127,
 2376183,
 3319128,
 3319129,
 3319131,
 3319132,
 88144,
 111599,
 6123,
 2927133,
 119412,
 548369,
 2927135,
 1476922,
 2927136,
 2420854,
 2927140,
 1903301,
 2927142,
 2927143,
 2927144,
 1353297,
 2927145,
 2927146,
 2927147,
 2927149,
 130359,
 3787134,
 3374954,
 3374955,
 3374957,
 3374958,
 3374959,
 3374962,
 3374964,
 3374965,
 1494873,
 1501634,
 2850152,
 2850153,
 2815497,
 71491,
 2659063,
 2850158,
 2850160,
 2850161,
 1305973,
 2850163,
 1509483,
 3041153,
 1456090,
 46595,
 591209,
 1032396,
 111786,
 1811490,
 2760389,
 2681862,
 2869865,
 2869866,
 2407277,
 2869869,
 2839701,
 2839694,
 2839712,
 2110857,
 1024,
 64125,
 1043651,
 1442359,
 1388461,
 2858141,
 564610,
 2893447,
 1711498,
 1443037,
 2893450,
 2893453,
 2893455,
 1443436,
 2893457,
 1018,
 2486187,
 1428295,
 141876,
 41905,
 1442353,
 40421,
 1185963,
 121523,
 1038466,
 2163397,
 2999531,
 1026,
 2999532,
 2945687,
 1921849,
 1418968,
 2999535,
 138129,
 2999537,
 2999539,
 2999540,
 2999542,
 3632694,
 2653064,
 1440808,
 3632697,
 2913704,
 3632700,
 3375365,
 3249391,
 3321396,
 3321397,
 3321398,
 3321399,
 3321402,
 3321404,
 3321405,
 3321384,
 3321407,
 3321411,
 2839869,
 3880,
 1494061,
 258901,
 1441061,
 2587863,
 2532339,
 1388459,
 121579,
 2866993,
 1430142,
 544976,
 121519,
 2887016,
 2887018,
 2887021,
 2887025,
 2887026,
 2887027,
 3684303,
 3021510,
 3021511,
 3021512,
 1902520,
 1164111,
 1045303,
 2971957,
 1259972,
 588176,
 558125,
 1819332,
 1928424,
 2841966,
 2542290,
 3375055,
 3375056,
 2676481,
 3375057,
 3375058,
 3132906,
 2703160,
 1867971,
 2676488,
 2104563,
 1476907,
 1824131,
 5220120,
 2931791,
 1178382,
 1423270,
 202575,
 234401,
 1382259,
 3370620,
 110602,
 2646127,
 4263584,
 2681894,
 1365195,
 3331628,
 3331631,
 2425085,
 3120306,
 3331635,
 3331636,
 2224034,
 4097308,
 4097313,
 4097324,
 2607183,
 2607184,
 2960889,
 2970238,
 1444453,
 1149907,
 1196567,
 2661675,
 2987185,
 2895217,
 2646120,
 142667,
 2986674,
 110047,
 2640125,
 2986675,
 2986676,
 2986677,
 2986668,
 2986669,
 2986670,
 1546091,
 2009503,
 2488912,
 ...]

In [10]:
import pandas as pd

# Step 1: Explode the cast_person_ids list so each actor appears in a separate row
df_exploded = df_movies[['id', 'cast_person_ids']].explode('cast_person_ids')

# Step 2: Rename for clarity
df_exploded = df_exploded.rename(columns={'id': 'movie_ids', 'cast_person_ids': 'actor_id'})

print(df_exploded)

# Step 3: Group by actor_id and aggregate the movie_ids into a set
actor_movies = df_exploded.groupby('actor_id')['movie_ids'].agg(set).reset_index()

print(actor_movies.head())

     movie_ids actor_id
0      1389683      NaN
1      1275299    91568
2      1176704  3018873
2      1176704  2120409
2      1176704  2974764
..         ...      ...
926    1407803  2208065
927    1410638      NaN
928    1409581    89973
929    1412034   149860
930    1410006  2703160

[5029 rows x 2 columns]
   actor_id                          movie_ids
0        42                  {752908, 1054150}
1       935                          {1061064}
2      1011                           {752908}
3      1012                   {752908, 752910}
4      1017  {1029880, 655297, 990691, 752908}

In [7]:
actor_movies

      actor_id                                           movie_id  num_movies
384     588175  {995169, 1079201, 990691, 918628, 1125607, 580...          14
50        6120  {1079202, 1119544, 1054150, 750223, 1124080, 1...          13
704    1442353  {1299009, 991266, 733379, 1375365, 1035422, 91...          12
583    1335546  {918627, 902407, 1178663, 1078249, 741105, 901...          12
537    1208770  {655297, 980026, 1292039, 1053927, 711017, 116...          10
...        ...                                                ...         ...
3109   5629763                                          {1530968}           1
3108   5629762                                          {1530968}           1
3107   5629760                                          {1530968}           1
3106   5629758                                          {1530968}           1
3105   5629756                                          {1530968}           1

[3131 rows x 3 columns]