# read_tmdb_data.ipynb

This notebook reads JSON data from TMDB's API and store it as CSV files:
- **danish_movies.csv**: Data on all Danish-language movies ever made up to and including 2024-12-31.
- **danish_actors.csv**: Data on all actors that appear in these movies (also foreign actors).

In [1]:
import os
import requests
from dotenv import load_dotenv
from time import sleep

import os
import requests
import pandas as pd
from dotenv import load_dotenv
from time import sleep

load_dotenv()
tmdb_api_token = os.getenv("TMDB_API_TOKEN")

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {tmdb_api_token}"
}

First we get movie_ids for all movies that have danish as original_language

In [2]:
base_url = (
    "https://api.themoviedb.org/3/discover/movie"
    "?include_adult=false"
    "&include_video=false"
    "&language=en-US"
    "&sort_by=primary_release_date.asc"
    "&with_original_language=da"
    "&primary_release_date.gte=2024-01-01"
    "&primary_release_date.lte=2024-12-31"
)

movie_ids = []

# Loop through all pages (adjust max page if needed)
for page in range(1, 501):
    url = f"{base_url}&page={page}"
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        raise Exception(f"Status code: {response.status_code} Text: {response.text}")
    
    # Extract movie_results from the response
    movie_results = response.json().get("results") 
    
    # Stop if we have reached the last page
    if not movie_results:
        break

    # Extract movie_ids from the movie_results
    movie_ids.extend([movie["id"] for movie in movie_results])
    
    sleep(0.02)  # Just to be sure we don't request too many requests

print(f"Number of movie ids found: {len(movie_ids)}")

Number of movie ids found: 207

Then we get movie data for all these movie_ids, and store that in dataframe and CSV file

In [3]:
all_movies = []

# Loop through all movie_ids and request movie data
for movie_id in movie_ids:
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?language=en-US&append_to_response=credits"
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        raise Exception(f"Status code: {response.status_code} Text: {response.text}")
    
    # Extract the movie data from the response
    movie = response.json()

    # Simplify dictionaries to list of ids
    movie["genre_ids"] = [genre["id"] for genre in movie["genres"]]
    movie["spoken_languages"] = [language["iso_639_1"] for language in movie["spoken_languages"]]
    movie["production_company_ids"] = [company["id"] for company in movie["production_companies"]]
    movie["production_countries"] = [country["iso_3166_1"] for country in movie["production_countries"]]
    movie["collection_id"] = movie.get("belongs_to_collection").get("id") if movie["belongs_to_collection"] else None
    movie["cast_person_ids"] = [cast_member["id"] for cast_member in movie["credits"]["cast"]]
    movie["cast_credit_ids"] = [cast_member["credit_id"] for cast_member in movie["credits"]["cast"]]
    movie["crew_person_ids"] = [crew_member["id"] for crew_member in movie["credits"]["crew"]]
    movie["crew_credit_ids"] = [crew_member["credit_id"] for crew_member in movie["credits"]["crew"]]
    del movie['genres']
    del movie['production_companies']
    del movie["belongs_to_collection"]   
    del movie["credits"]
    
    all_movies.append(movie)
    sleep(0.02)  # Just to be sure we don't request too many requests

df_movies = pd.DataFrame(all_movies)
print(f"Total movies collected: {len(df_movies)}")

# output_folder = os.path.join(os.getcwd(), "movie_data")
# output_path = os.path.join(output_folder, "danish_movies.csv")
df_movies.to_csv("../movie_data/danish_movies.csv", index=False)

Total movies collected: 207

In [4]:
df_movies

,adult,backdrop_path,budget,homepage,id,imdb_id,origin_country,original_language,original_title,overview,...,video,vote_average,vote_count,genre_ids,production_company_ids,collection_id,cast_person_ids,cast_credit_ids,crew_person_ids,crew_credit_ids
0,False,/bqWIsqRMeu86BwGvQPs9rhlRE9u.jpg,0,,1247285,None,[DK],da,Topmøde,The three club bosses meet and give their view...,...,False,0.0,0,[],[],NaN,[],[],[],[]
1,False,/m6p6eBNSjiYtOaDCj3xQwgQXodd.jpg,0,,1237423,None,[DK],da,Anne Bakland: Bullshit,"Shut up, there are a lot of things tumbling ar...",...,False,6.0,1,[35],[156967],NaN,[2504733],[65b6d7318741c4014a9128ce],[],[]
2,False,/2XyDZJHoxfs7RHEVSQJ1uB5QOTZ.jpg,0,,1220696,tt28521863,[DK],da,Dressage,,...,False,10.0,2,[],[],NaN,"[558626, 4441052, 4428845, 4478158]","[65836b80f1759c3fa210e891, 65836bb685867855daf...","[4428869, 4005580, 4666868, 2501422, 4666871, ...","[65a0582a96670e0129aba875, 65a0583f7caa470131c..."
3,False,/uoinIvWZmgKfUuEnZj4vXmRIejD.jpg,0,,1226857,None,[DK],da,Grin til Gavn 2024,"One of Denmark's most hyped comedy duos, Marti...",...,False,7.0,2,[35],"[54911, 758]",NaN,"[2934371, 2934372, 1556815, 2504733, 221190, 8...","[65984d0b89b56101a4c37160, 65984d160d11f201497...","[2934372, 2934371, 5422513, 5539604, 4994889, ...","[68651ca202ab41cc08fb8507, 68651caa8888a8af7d7..."
4,False,/cVryiKn7n6xtszH0X5Q0z7BV9Lt.jpg,0,,1227125,None,[DK],da,Dronning Margrethe 2. - 52 år som Danmarks regent,Get up close to Queen Margrethe II as we paint...,...,False,0.0,0,[],[758],NaN,"[1184201, 4470379]","[659be1270d11f2025caf1017, 659be14b89b561240fc...",[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,False,/MSP35R6y0ypmf3zU1kyUw1P4It.jpg,0,,1407803,None,[DK],da,Verdensmænd - Bobos surprise,,...,False,10.0,1,[35],[758],NaN,"[1828049, 234058, 1355004, 88356, 2208065]","[676d44614ca2fbbfca614283, 676d44784ca2fbbfca6...",[],[]
203,False,/2iVVzCEnX4QMEeyd3e52juYcsH8.jpg,0,,1410638,None,[DK],da,Gud bevare Danmark,,...,False,0.0,0,[],[],NaN,[],[],[],[]
204,False,/ej5uQVMJTzq8nZBCbf6pUMNF6jl.jpg,0,,1409581,None,[DK],da,Frank Hvam - Nobody,Frank Hvam has lived in New Zealand with his f...,...,False,6.0,1,[35],[758],NaN,[89973],[67724668d8dc22e6c6927586],"[89973, 5520795, 563909, 5227452, 4263643, 516...","[68650819af3c4b2566414b34, 686508769febd451ea8..."
205,False,None,0,,1412034,None,[DK],da,"Dan Andersen - Nedsat Hørelse, Nedsat Sædkvali...",,...,False,0.0,0,[35],[],NaN,[149860],[677903662b097b15a274ab1e],[],[]
206,False,/dnUO6DSBtGnez743z0dwJ0kRM0o.jpg,0,,1410006,None,[DK],da,Jan Hellesøe - Forudsigelser,,...,False,0.0,0,[],[],NaN,[2703160],[67737dfe43a21982da12ce11],[],[]

Run through the movie dataframe and create list of unique actor_ids and the movie_ids they appear in

In [5]:
# Step 1: Explode the cast_person_ids list so each actor appears in a separate row
df_exploded = df_movies[['id', 'cast_person_ids']].explode('cast_person_ids')
df_exploded

          id cast_person_ids
0    1247285             NaN
1    1237423         2504733
2    1220696          558626
2    1220696         4441052
2    1220696         4428845
..       ...             ...
202  1407803         2208065
203  1410638             NaN
204  1409581           89973
205  1412034          149860
206  1410006         2703160

[997 rows x 2 columns]

In [6]:
# Step 2: Rename for clarity
df_exploded = df_exploded.rename(columns={'id': 'movie_ids', 'cast_person_ids': 'actor_id'})
df_exploded

     movie_ids actor_id
0      1247285      NaN
1      1237423  2504733
2      1220696   558626
2      1220696  4441052
2      1220696  4428845
..         ...      ...
202    1407803  2208065
203    1410638      NaN
204    1409581    89973
205    1412034   149860
206    1410006  2703160

[997 rows x 2 columns]

In [7]:
# Step 3: Group by actor_id and aggregate the movie_ids into a set
danish_actors = df_exploded.groupby('actor_id')['movie_ids'].agg(set).reset_index()
danish_actors

     actor_id           movie_ids
0        1018           {1317159}
1        1023  {1382539, 1359071}
2        1024            {983465}
3        1181  {1355578, 1466191}
4        1184  {1227608, 1290697}
..        ...                 ...
815   5652166           {1536618}
816   5652167           {1536618}
817   5654128           {1536970}
818   5669894           {1245001}
819   5669898           {1245001}

[820 rows x 2 columns]

In [8]:
# import os
# import requests
# import pandas as pd
# from dotenv import load_dotenv
# from time import sleep

# load_dotenv()
# tmdb_api_token = os.getenv("TMDB_API_TOKEN")

# headers = {
#     "accept": "application/json",
#     "Authorization": f"Bearer {tmdb_api_token}"
# }

all_persons = []

for actor_id in danish_actors['actor_id']:
    print(actor_id)
    url = f"https://api.themoviedb.org/3/person/{actor_id}"
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        raise Exception(f"Status code: {response.status_code} Text: {response.text}")
    
    # Extract the person data from the response
    person = response.json()
    
    all_persons.append(person)
    sleep(0.02)  # Just to be sure we don't request too many requests
    
    
df_persons = pd.DataFrame(all_persons)

1018
1023
1024
1181
1184
1566
1568
3402
3407
3880
3881
3921
4455
4457
4460
4463
6120
6123
6125
6131
6134
6145
15086
19011
22676
32683
32684
34865
34866
40423
40424
41907
64790
71154
71155
71157
73213
73214
74620
74757
77525
77539
82352
82534
82537
82538
88145
88355
88356
88492
88544
89626
89958
89973
90605
91748
92429
93236
93239
98065
102887
107557
107559
111599
112382
112735
115214
115863
119412
121519
121550
121579
130690
135753
135945
141234
142874
143391
148724
148725
149860
202578
202582
202593
221190
223684
224471
224473
224477
234057
234058
234102
234403
234907
297106
548365
558125
558129
558626
560162
564024
571346
582051
587169
587170
587171
588175
589027
591208
591209
938308
938727
1004584
1010903
1025544
1032118
1032398
1034338
1068891
1079967
1080366
1081001
1087000
1089610
1111176
1114536
1115625
1122833
1123821
1139734
1141086
1145462
1149906
1150862
1150872
1155671
1156544
1158298
1163370
1167832
1170690
1171128
1172078
1173480
1174781
1178385
1178823
1184201
1194835
1194836
1206743
1208770
1255681
1259903
1260489
1262705
1289605
1290402
1293151
1293152
1297500
1299251
1299307
1309343
1318414
1327785
1335537
1335546
1352165
1352860
1353296
1355003
1355004
1366062
1374816
1388464
1421812
1423271
1424658
1428298
1429905
1433092
1433475
1433479
1433481
1434337
1437421
1439257
1439622
1439639
1439683
1439699
1441412
1441487
1441512
1442314
1442695
1443037
1443046
1443118
1443130
1443385
1443535
1444097
1444187
1444453
1444569
1444615
1447798
1458362
1458453
1459336
1460363
1467724
1475414
1476834
1476906
1478980
1480768
1491453
1501634
1505679
1505721
1505796
1508552
1515021
1515583
1518004
1521412
1522448
1542785
1542791
1544029
1544031
1546091
1552847
1556815
1565234
1565240
1601243
1602451
1609347
1632952
1640021
1680371
1680388
1711503
1716598
1731560
1734071
1807375
1819822
1819825
1828049
1854493
1885455
1892534
1899167
1913463
1916163
1916717
1916718
1919009
1921850
1934697
1934698
1935780
1941339
1948243
1949745
1949847
1949848
1950751
1954416
1964056
1977324
1985507
1988815
1994008
2009617
2009771
2031037
2038232
2038235
2040125
2057320
2094504
2094506
2099616
2101904
2103500
2110298
2117344
2134894
2134898
2135915
2140569
2141475
2175705
2187720
2189732
2190163
2204701
2204705
2208064
2208065
2221204
2263933
2271840
2277299
2277300
2277303
2284302
2328180
2350923
2361843
2383412
2383416
2383420
2420340
2449077
2450862
2458928
2464892
2474806
2504733
2527363
2532340
2532345
2541886
2552074
2582061
2595279
2595293
2607183
2607184
2611146
2639270
2640124
2640821
2641248
2642049
2643546
2647885
2648660
2653064
2653885
2654626
2656685
2659032
2659933
2661746
2662252
2662256
2671170
2684616
2687523
2703160
2712999
2718188
2745594
2748728
2777903
2803274
2839475
2847036
2852067
2860203
2866986
2890804
2895212
2895217
2896480
2923893
2927136
2927147
2929411
2934371
2934372
2937126
2941716
2954364
2956800
2960537
2960889
2969412
2970663
2971986
2973858
2973862
2984128
2986668
2986669
2986674
2998427
2998429
2998436
2999133
2999154
2999531
3018671
3018873
3025703
3086032
3096731
3098127
3113055
3149868
3152619
3226105
3236472
3259876
3262195
3319961
3322327
3331289
3349589
3361235
3368397
3409834
3410657
3414001
3447397
3485222
3490097
3491153
3553612
3553678
3554735
3554738
3574712
3577280
3585255
3626756
3682319
3694064
3699110
3699111
3699116
3709384
3713738
3716332
3721404
3728170
3740235
3740237
3752230
3802456
3849004
3859115
3861844
3864258
3880910
3881141
3881143
3881144
3881145
3884247
3885491
3885493
3889087
3889100
3892186
3892187
3907135
3913381
3948420
3948422
3951530
3960197
4010506
4016183
4016184
4016187
4038154
4038903
4056809
4056810
4057847
4093629
4120038
4139041
4156404
4216026
4250846
4251311
4251954
4261769
4273857
4298782
4367278
4367279
4367280
4379760
4379761
4379762
4379765
4379766
4379769
4399417
4405127
4422713
4422714
4422715
4422716
4422717
4428845
4441052
4441152
4466109
4468075
4468082
4469733
4470379
4470827
4478158
4485412
4485414
4497622
4498566
4498568
4498571
4498572
4498575
4506357
4506360
4526607
4526608
4526610
4536799
4536800
4536801
4536802
4540460
4540462
4547613
4576010
4576011
4596858
4596859
4608404
4608407
4608410
4608411
4636256
4636257
4637618
4640414
4646527
4649835
4649836
4649838
4649840
4649841
4649843
4662258
4662259
4662261
4666004
4678310
4686574
4689063
4689065
4694317
4694321
4710002
4710288
4713272
4713340
4714047
4715991
4720936
4720938
4721190
4721192
4721193
4721198
4721202
4721211
4733146
4738601
4739342
4739344
4739345
4743350
4748815
4748816
4748821
4749412
4756564
4757402
4758808
4762067
4762609
4762610
4762613
4762617
4762690
4762772
4762773
4762774
4762776
4762798
4768005
4768007
4768013
4778103
4780673
4780674
4784427
4784457
4793106
4793107
4793109
4793111
4793112
4793113
4793114
4812338
4812346
4812897
4826970
4830361
4830362
4843615
4843619
4843621
4843623
4843624
4843627
4848826
4891981
4892215
4892216
4892217
4892219
4895251
4904907
4906709
4907337
4908931
4908932
4919564
4921537
4922167
4922170
4922174
4923257
4923258
4926816
4926821
4930811
4930813
4937629
4939265
4939267
4939268
4942343
4942344
4942345
4942346
4949631
4949635
4952211
4953078
4953084
4956680
4962944
4967258
4967263
4974591
4974592
4980481
4981426
4981923
4984382
4991732
5010950
5010951
5010952
5033531
5035550
5055340
5055348
5055351
5055354
5055474
5069433
5069434
5069435
5069436
5069437
5069438
5072279
5072280
5072281
5072282
5072499
5072524
5072527
5072532
5080257
5080258
5080259
5080260
5080261
5080262
5080263
5080264
5080265
5080266
5080267
5080268
5080269
5080270
5080271
5080272
5080273
5091397
5096653
5096654
5096655
5096656
5110823
5122551
5205304
5205317
5205319
5205331
5205334
5205335
5205336
5205337
5205339
5205341
5228486
5228487
5229991
5229999
5230000
5230004
5230007
5230014
5230015
5230016
5230017
5230021
5230023
5230025
5230028
5230029
5230032
5230038
5230039
5230041
5230045
5230092
5230102
5244328
5266753
5267194
5357727
5357729
5391324
5396099
5396421
5396422
5396431
5396436
5396438
5397058
5437296
5442821
5442869
5442872
5442875
5442878
5455734
5455736
5455737
5455738
5455740
5455741
5455743
5455744
5455745
5455748
5480352
5528759
5528761
5528837
5532355
5532356
5532357
5532631
5629746
5629749
5629750
5629751
5629752
5629755
5629756
5629758
5629760
5629762
5629763
5629765
5629768
5629769
5629770
5629771
5629774
5629775
5629777
5629778
5652166
5652167
5654128
5669894
5669898

In [9]:
danish_actors.shape

(820, 2)

In [10]:
df_persons.shape

(820, 14)

In [11]:
df_persons.rename(columns={'id': 'actor_id'}, inplace=True)
danish_actors = pd.merge(danish_actors, df_persons, on='actor_id')
danish_actors

,actor_id,movie_ids,adult,also_known_as,biography,birthday,deathday,gender,homepage,imdb_id,known_for_department,name,place_of_birth,popularity,profile_path
0,1018,{1317159},False,[نیکلای لی کاس],Nikolaj Lie Kaas (born 22 May 1973) is a promi...,1973-05-22,None,2,None,nm0509263,Acting,Nikolaj Lie Kaas,"Glostrup, Denmark",1.1447,/zRu68e0GSwHJC7QOcbO77xIAM9J.jpg
1,1023,"{1382539, 1359071}",False,[],,1960-03-08,None,2,None,nm0647757,Acting,Niels Olsen,"Aarhus, Danmark",0.2028,/14DqKFpN2ElvzNjddvkMUly2rdT.jpg
2,1024,{983465},False,[],,1940-11-15,2024-10-28,2,None,nm0683397,Acting,Ulf Pilgaard,"Skive, Danmark",0.0913,/108pcSiyuB6A6qO6ZmOWM3GxxQT.jpg
3,1181,"{1355578, 1466191}",False,[],Peter Gantzler is a Danish actor. He is marrie...,1958-09-28,None,2,None,nm0304644,Acting,Peter Gantzler,Denmark,0.5883,/1oL9VT7YLfaly3BwAcKj5xquoCo.jpg
4,1184,"{1227608, 1290697}",False,"[Anders Wodskou Bertelsen, Anders Bertelsen, A...",,1969-09-28,None,2,None,nm0077944,Acting,Anders W. Berthelsen,"Rødovre, Danmark",0.3129,/yEaRQLSOTcGsVHCkKEusb6PfUCE.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,5652166,{1536618},False,[],,None,None,0,None,None,Acting,Laura Amalie Bülow,None,0.0000,None
816,5652167,{1536618},False,[],,None,None,0,None,None,Acting,Sarah Halfani Madsen,None,0.0000,None
817,5654128,{1536970},False,[],,None,None,0,None,None,Acting,Hugo Rex Skov,None,0.0000,None
818,5669894,{1245001},False,[],,None,None,0,None,None,Acting,Janus Enevoldsen,None,0.0143,None
819,5669898,{1245001},False,[],,None,None,0,None,None,Acting,Freja Enevoldsen,None,0.0431,None

In [12]:
# output_folder = os.path.join(os.getcwd(), "movie_data")
# output_path = os.path.join(output_folder, "danish_actors.csv")
danish_actors.to_csv("../movie_data/danish_actors.csv", index=False)